image: denoland/deno:1.36.0

default:
  interruptible: true

stages:
  - test

fmt:
  stage: test
  script: deno fmt --check

lint:
  stage: test
  script: deno lint

check:
  stage: test
  script: deno task check

test:
  stage: test
  script: deno task test