[Unit]
Description=IPFS Daemon
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=ditto
ExecStart=/usr/local/bin/ipfs daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target